

:root {
    /*DokumentFarben*/
  --VerlauffarbeHellblau: #000426;
  --VerlauffarbeDunkelblau: #5A62BA;

  /*GestaltungsFarben*/
  --Sonne:#FFC745;
  --Himmel:#0093ED;
  --Nacht: #6C76E6;
  --Wald: #001E0E;
  --Ozean: #000426;

    /*DiagrammFarben*/
  --dGrün: #39C16F;
  --dGelb: #FFC745;
  --dBraun: #C78B07;
  --dTerrakotta: #D46450;
  --dPaprika: #E74325;
  --dRot: #BD0000;

  /*----------Schriftart------------*/
  font-family: Krona One, sans-serif;
  color: white;
}

@font-face {
  font-family: 'Krona One';
  src: url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
} 

h1 {
    font-size: 4rem; /* Large and impactful for main titles */  
}
h2 { 
  font-size: 1.6rem; /* Slightly smaller, but still prominent */
}
h3 {
    font-size: 2rem; /* Medium heading size, good for sub-headings */
}
h4 {
    font-size: 1.6rem; /* Lower-level heading, balanced for sections */
}
h5,p {
    font-size: 1.4rem; /* More subtle, for subsections or categories */
}
h6, p {
    font-size: 1.2rem; /* Smallest heading, used sparingly */
}
 /*----------Schriftart Ende----------*/

 body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 body{
  background: linear-gradient(var(--VerlauffarbeHellblau), var(--VerlauffarbeDunkelblau)) no-repeat;
  min-height: 100vh;
  padding-left: 2.5%;
  padding-right:2.5%;
  height: 100%;
}

header {
  size: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  height: 10vh;
  width: 100%;
  padding: none;
}
header img {
  height: 5vh;
}
/* ------------------------------Buttons---------------------*/
button {
  background-color: var(--Sonne);
  color: var(--Wald);
  border: none;
  padding: 0.7rem 0.6rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.75rem;
  min-width: 50px;
  transition: 0.2s;
  border: 1px solid var(--Sonne);
}
button:hover {
  border: 1px solid var(--Wald);
  background-color: #D2BE64;
  
}
button:active {
  background-color:#A7A28C;
  border: var(--Wald);
  border: 1px solid var(--Wald);
}
button:focus {
  outline: 1px solid var(--Wald);
  border: 1px solid var(--Wald);
}
/* ------------------------------Buttons Ende--------------------*/

/* ------------------------------Formulare---------------------*/
input{
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  border-color:none;
  border-style: none;
}
/* ------------------------------Formulare Ende --------------------*/

/* ------------------------------Navigation---------------------*/
/*
.section {
  height: 100vh; Jede Section nimmt die volle Höhe des Viewports ein 
  padding: 20px; */


  
/* ---------------------Responsiveness---------------------------- */
@media (max-width: 768px) {

}


/* ------------------------------Navigation Ende---------------------*/

/* ------------------------------Footer---------------------*/
footer {
  background-color: var(--Wald);
  color: var(--Sonne);
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* ------------------------------Footer Ende---------------------*/

/* ------------------------------Klassen---------------------*/

.überschrift {
  text-align: left;
  color: white;
  background-color: var(--Nacht);
  border-radius: 1rem;
  border: 1px solid white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
 
}

.nachrichten {
  display: flex;
  justify-content: space-around;
}

.contentlinks{
 background-color: white;
border-radius: 1rem;
opacity: 0.7;
flex: 2;
padding-right: 1rem;
}
.contentrechts{
  flex: 1;
  background-color: white;
  border-radius: 1rem;
  
}

.content {
  background-color: var(--Wald);
  opacity: 0.2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem; /* Added value for padding */
}
.menu h2 {
  color: var(--Sonne);
  padding-top:
}

/* ------------------------------ID---------------------*/
